// Forms
label {
  display: $label-display;
  font-size: $label-font-size;
  margin-bottom: $label-margin-bottom;

  span {
    display: block;
    margin-bottom: $label-span-margin-bottom;
  }
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: rgba($body-color, .7) !important;
}
